// $mobile: "(min-width: 320px)";
// $tablet: "(min-width: 768px)";
// $desktop: "(min-width: 1366px)";

$mobile: "(max-width: 600px)";
$tablet: "(min-width: 1120px)";
$desktop: "(min-width: 1440px)";

$mobile-w: "600px";
$tablet-w: "1120px";
$desktop-w: "1440px";

$bg-color:rgba(52,75,142,1);
$bg-color-hover:rgba(39,58,113,1);