//- index.pug
doctype html
html(lang="ru-RU")
head
  title Hellow world
  link(rel="stylesheet" type="text/css" href="css/style.min.css")

body
 .slider
  .slider-item
  .slider-item
  .slider-item
  .slider-item



script(src="js/libs.min.js")
script(src="js/main.min.js")