doctype html
html(lang="ru-RU")
  meta(name='yandex-verification', content='418f0741317cfed2')
  include pages/head.pug
body
 header.header#header
  div.header__circle-shape
   div.header__circle
  img.header__sign(src="img/sign.png" alt='singnature')
  div.header__wrapper
    nav.nav-menu
     ul.nav-menu__list
      li.nav-menu__item 
       a.nav-menu__link(href="#") Книги и публикации
      li.nav-menu__item 
       a.nav-menu__link.w125(href="#") Контакты
      li.nav-menu__item
       a.nav-menu__link.w125(href="#") Поиск
 main.main#main
  h1.main__title Следует добавить, что и другие генетические типы <strong>четвертичных</strong> отложений бентос постоянно изменяет кряж, где на поверхность выведены <strong>кристаллические</strong> структуры фундамента.
  section.author-intro.row#1
   div.col-lg-4
    h1.author-intro__title Оксана Принь
    h2.author-intro__special Учитель географии и экологии
   div.col-lg-4
    img.author-intro__img(src='img/prin.png' alt='prin o.n.' height="575px" width="575px")
    div.author-intro__circle-shape
     div.author-intro__circle
  section.scroll 
   p.scroll__name scroll down
   p.scroll__icon 
  section.about-author#1
   h1.about-author__title О себе
   h3.about-author__theme биография
   p.about-author__text Дипломная работа выпускницы Нижегородского государственного педагогического университета (диплом с отличием), завоевала на городском конкурсе студенческих работ <strong>диплом 1 степени.</strong> О.Н.Принь закончила обучение в очной аспирантуре НГПУ, специальность биогеография, география почв и геохимия ландшафтов. Ею сданы кандидатские экзамены по философии, иностранному языку, и физической географии и биогеографии, географии почв и геохимии ландшафтов. Участвовала в городских научных конференциях и <strong>написала несколько научных статей</strong> по теме диссертации. Работа над диссертацией продолжена. После окончания НГПУ и по настоящее время О.Н.Принь работает в школе преподавателем географии и экологии (<strong>учитель высшей категории</strong>), является председателем методического объединения предметов естественно - научного цикла. <strong>В 2009 награждена Губернаторским Грантом</strong>  в приоритетном национальном проекте «Образование».
   blockquote.about-author__quote
    span.about-author__span
     <strong>Единственный путь,</strong> ведущий к знаниям  - <strong>это деятельность</strong>
     q.about-author__cite © Бернард шоу
  section.what-i-do#2
    img(src="img/open-book-mockup.png",alt="none",width="500px",height="auto").what-i-do__img.col-lg-6
    div.what-i-do__wrapper.col-lg-6
     h1.what-i-do__title Поурочные разработки по географии. 8 класс.  КУМК И. И. Бариновой. ФГОС 
     p.what-i-do__description В пособии представлены подробные поурочные разработки по курсу географии в 8 классе к <strong>УМК И. И. Бариновой (М.: Дрофа).</strong> Помимо материала для стандартного хода урока в книге приведены различные схемы и таблицы, тестовые задания, географические диктанты, творческие задания, дополнительные материалы, позволяющие сделать урок <strong>интересным и насыщенным</strong>, а также дифференцировать обучение в классах разных типов.
     a(href="#").what-i-do__more-books Подробнее
     a(href="#").what-i-do__download-books Cкачать
  section.lessons-book#3
    h1.lessons-book__title Поурочные разработки по географии. 8 класс. К УМК И.И. Бариновой. ФГОС/
    p.lessons-book__description В пособии представлены подробные поурочные разработки по курсу географии в 8 классе к УМК И.И. Бариновой (М.: Дрофа). Помимо материала для стандартного хода урока в книге приведены различные схемы и таблицы, тестовые задания, географические диктанты, творческие задания, дополнительные материалы, позволяющие сделать урок интересным и насыщенным, а также дифференцировать обучение в классах разных типов.
    button(type="button").lessons-book__more-books подробнее
    button(type="button").lessons-book__download-books скачать
    img(src="#",alt="none").lessons-book__img
  section.my-grants#5
    h1.my-grants__title  Сертификаты и дипломы
    p.my-grants__description В пособии представлены подробные поурочные разработки по курсу географии в 8 классе к УМК И.И. Бариновой (М.: Дрофа). Помимо материала для стандартного хода урока в книге приведены различные схемы и таблицы,
    button(type="button").my-grants__more-books Предыдущий
    button(type="button").my-grants__download-books следующий
    img(src="#",alt="none").my-grants__img
    img(src="#",alt="none").my-grants__img
    img(src="#",alt="none").my-grants__img
  section.my-articles#6 Мои статьи
   p.my-articles__theme Население как показатель сбалансированного развития территории  (на примере городского округа города Бор Нижегородской области)
   spanp.my-articles__date Дата публикации: 21. 02. 2017
  p.my-articles__theme Анализ эколого-хозяйственного баланса  территории городского округа города Бор
   spanp.my-articles__date Дата публикации: 21. 02. 2017
  p.my-articles__theme Исследование природно-ресурсного потенциала городского округа города Бор Нижегородской области: проблемы и перспективы развития.
   spanp.my-articles__date Дата публикации: 21. 02. 2017

 
 include pages/footer.pug


 include html2pug/metrika.html
script(src="js/libs.min.js")
script(src="js/main.min.js")