//- index.pug
doctype html
html
  include pages/head.pug
  body
    h1 My SiteNamemifomensdfsdf
    p Welcome to my super lame site.
    h2 mifomen <b> mifomen </b>
    include pages/foot.pug

    p mifomen ilya
    ol     li mifomen li asd