footer.footer#footer
 img(src="#",alt="img for signature").footer__img
 img(src="#",alt="img for vkontakte").social.vk
 img(src="#",alt="img for facebook").social.facebook
 img(src="#",alt="img for twitter").social.twitter
 img(src="#",alt="img for instagram").social.instagram