head
 meta(charset='UTF-8')
 meta(content='ie=edge',http-equiv='x-ua-compatible')
 meta(content='width=device-width', intial-scale='1.0', minimum-scale='1.0', maximum-scale='1.0', user-scalable='no' name='viewport')
 meta(content='' name='keywords')
 meta(content='' name='description')
 link(rel='stylesheet' type='text/css' href='css/normalize.css')
 link(rel='stylesheet' type='text/css' href='css/bootstrap.min.css')
 link(rel='stylesheet' type='text/css' href='css/style.min.css')
 title Оксана Николевна Принь