body {
  background-color: yellow;
}
h1,
h4,
h3,
h2,
p,
b {
  margin:0;
  padding-top: 10px;
background-color: red;
transition: 300ms ease;
}

@import "blocks/variables.scss";
// @import "blocks/fonts.scss";

// /*Стилизация верхней части*/
// @import "blocks/header.scss";
// /*Основной блок*/
// @import "blocks/main.scss";
// /*блок об авторах*/
// @import "blocks/achivements.scss";
// @import "blocks/our-pluses.scss";
// /*блок об авторах*/
// @import "blocks/authors.scss";
// /*форма обратной связи11*/
// @import "blocks/feedback.scss";
// /*подвал сайта*/
// @import "blocks/footer.scss";